* {
    font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    font-family: "Matemasie", sans-serif;
}

:root {
    --indaco: rgb(84, 70, 166);
    --viola: rgb(122, 82, 149);
    --rosa: rgb(186, 83, 151);
    --pesca: rgb(242, 129, 111);
    --giallo: rgb(244, 198, 77);
}

body {
    background-color: rgb(15, 15, 15);
}

.bg-indaco {
    background-color: var(--indaco);
}

.bg-viola {
    background-color: var(--viola);
}

.bg-rosa {
    background-color: var(--rosa);
}

.bg-pesca {
    background-color: var(--pesca);
}

.bg-giallo {
    background-color: var(--giallo);
}


.text-giallo {
    color: var(--giallo);
}

.text-indaco {
    color: var(--indaco);
}

.text-viola {
    color: var(--viola);
}

.text-rosa {
    color: var(--rosa);
}

/* Navbar */

.navbar {
    height: 80px;
    transition: 0.5s;
}

.nav-link {
    color: var(--pesca);
    font-weight: 700;
}

.nav-link:hover {
    color: white !important;
    text-shadow: 2px 2px 5px var(--giallo), -2px -2px 5px var(--giallo);
}

.logo {
    width: 60px;
}

/* Header */

header {

    background-image: linear-gradient(rgba(0, 0, 0), transparent, rgba(0, 0, 0)), url('./media/header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-custom {
    color: var(--giallo);
    background-color: var(--rosa);
    border: 2px solid var(--giallo);
    border-radius: 50px;
    margin: 0px 15px;
    padding: 10px 20px;
    transition: 0.5s;
}

.btn-custom:hover {
    color: var(--rosa);
    background-color: var(--giallo);
    border: 2px solid var(--rosa);
    transform: scale(1.1);
}

/* Positioned */
.positioned {
    position: relative;
    top: -150px;
}

.col-custom {
    padding: 10px;
    border: 2px solid var(--rosa);
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10%;
}

.col-custom:hover {
    transform: scale(1.1);
    background-color: var(--viola);
    color: var(--giallo);
    border-color: var(--viola);
}

#logo-menu {
    width: 60px;
    transition: 1s;
}

/* Numeri Incrementali */
.img-num-incrementali {
    width: 500px;
}

.number {
    font-size: 50px;
    font-weight: 900;
}

/* Swiper */
.swiper {
    height: 600px;
}

.card-review {
    height: 250px;
    width: 500px;
    border: 2px solid var(--giallo);
    border-radius: 20px;
}
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--giallo);
}

/* Pagina Annunci */

.accordion-item, .accordion-button {
    background-color: rgb(15, 15, 15);
    color: var(--giallo);
}

.accordion-button:not(.collapsed) {
    color: var(--rosa);
    background-color: rgb(15, 15, 15);
    box-shadow: none;
}
.accordion-button:focus {
    box-shadow: none;
}

.card-custom {
    height: 200px;
    width: 30%;
    border: 2px solid var(--giallo);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--giallo);
    margin-bottom: 20px;
}
.img-card {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


@media screen and (max-width: 600px) {
    .positioned {
        position: static;
    }

    .col-custom {
        border-color: black;
    }

    .logo {
        display: none;
    }

}