* {
    font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    font-family: "Matemasie", sans-serif;
}

:root {
    --indaco: rgb(84, 70, 166);
    --viola: rgb(122, 82, 149);
    --rosa: rgb(186, 83, 151);
    --pesca: rgb(242, 129, 111);
    --giallo: rgb(244, 198, 77);
}

.bg-indaco {
    background-color: var(--indaco);
}

.bg-viola {
    background-color: var(--viola);
}

.bg-rosa {
    background-color: var(--rosa);
}
.bg-pesca {
    background-color: var(--pesca);
}
.bg-giallo {
    background-color: var(--giallo);
}


.text-indaco {
    color: var(--indaco);
}

.text-viola {
    color: var(--viola);
}

.text-rosa {
    color: var(--rosa);
}
/* Navbar */

.navbar{
    height: 70px;
    transition: 0.5s;
}
.nav-link{
    color: var(--pesca);
    font-weight: 700;
}
.nav-link:hover {
    color: white !important;
    text-shadow: 2px 2px 5px var(--giallo), -2px -2px 5px var(--giallo);
}
.logo {
    width: 50px;
}